@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --bg-default: #222223;
  --scrollbar-track: #00EBF0;
  --scrollbar-thumb: #222223;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 3px;
}

::-webkit-scrollbar-track{
  background-color: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb{
  background: var(--scrollbar-track);
}

h1, h2, h3, h4, p{
  margin: 0;
  padding: 0;
}

ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

html {
  @apply h-full !scroll-smooth;
  -webkit-tap-highlight-color: transparent;
}

#__next,
body {
  @apply h-full;
}

@layer components {
  .container {
    @apply sm:max-w-[768px] md:max-w-[1440px];
  }
}

@layer utilities{
  .bg-gradient-center{
    background: radial-gradient(
      circle,
      rgba(25,46,75,1) 0%,
      rgba(34,34,35,1) 32%
    );
  }
}

body {
  /* background-color: var(--bg-default); */

  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
